<!doctype html>
<html lang="ru">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>1</title>
	<link rel="stylesheet" href="css/bootstrap.min.css">
	<link rel="stylesheet" href="css/font-awesome.min.css">
	<link href="css/styles.css" rel="stylesheet">
	<script src="js/vue.js"></script>
</head>

<body>
	<div class="wrapper">
		<div class="sample">
			<form v-if="!formDone">
				<div class="progress">
					<div class="progress-bar progress-success" :style="progressStyles"></div>
				</div>
				<div v-for="(item,i) in info">
					<div class="form-group">
						<label>{{item.name}}</label> <i v-if="item.activated" class="fa"
							:class="item.valid ? 'fa-check-circle text-success': 'fa-exclamation-circle text-danger'"
							aria-hidden="true">
						</i>
						<input type="text" class="form-control" :value="item.value"
							@input="onInput($event.target.value, i)">
					</div>
				</div>
				<button class="btn btn-primary" :disabled="!formValid" type="button" @click="formReady">
					Send Data
				</button>
			</form>
			<!-- <pre>{{info}}</pre> -->
			<div v-else>
				<table class="table table-bordered">
					<tr v-for="item in info">
						<td>{{item.name}}</td>
						<td>{{item.value}}</td>
					</tr>
				</table>
			</div>
		</div>
	</div>
	<script>

		Vue.createApp({
			data: () => ({
				info: [
					{
						name: 'Name',
						value: '',
						pattern: /^[a-zA-Z ]{2,30}$/
					},
					{
						name: 'Phone',
						value: '',
						pattern: /^[0-9]{7,14}$/
					},
					{
						name: 'Email',
						value: '',
						pattern: /.+/
					},
					{
						name: 'Some Field 1',
						value: '',
						pattern: /.+/
					},
					{
						name: 'Some Field 2',
						value: '',
						pattern: /.+/
					}
				],
				formDone: false,
			}),
			computed: {
				fieldsDone() {
					return this.info.reduce(function (fieldsDoneCount, item) {
						if (item.valid) {
							fieldsDoneCount++
						}
						return fieldsDoneCount
					}, 0)
				},
				formValid() {
					return (this.fieldsDone === this.info.length)
				},
				progressStyles() {
					return {
						'width': (this.fieldsDone / this.info.length * 100) + '%'
					}
				}
			},
			methods: {
				onInput(value, i) {
					let item = this.info[i];
					item.value = value.trim();
					item.activated = true;
					item.valid = item.pattern.test(item.value);

				},
				formReady() {
					if (this.formValid) {
						this.formDone = true;
					}
				},
			},
			created() {
				return this.info.forEach(item => {
					item.activated = false;
					item.valid = false
				})
			}
		}).mount('.sample');
	</script>
</body>

</html>